
.inputField,
.textAreaField{
    width: 100%; /* Ajuste a largura conforme necessário */
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.textAreaField {
    height: 100; /* Ajuste a altura conforme necessário */
    resize: vertical; /* Permite que o usuário ajuste a altura */
}

.selectField {
    display: block;
}


.inputContainerDataSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputFieldData, .selectField{
    border: 1px solid #ccc;
}

.inputFieldData{
    width: 50%;
}
