:root{
  --white: #FFF;
  --gray-100: #F1F0FF;
  --primary: #48409E;
  --secondary: #BFB9FF;
  --third: #6F6F6F;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-size: 16px;
}

body{
  
  background-color: var(--gray-100);
  padding: 0;
  /* max-width: 800px;
  margin-left: auto;
  margin-right: auto; */
  -webkit-font-smoothing: antialiased;

}

@media (max-width: 768px){
  button{
    font-size: 14px;
  }
}
